# Django & DRF
Django==4.2.10
django-cors-headers==4.3.1
django-filter==23.5
django-rest-knox==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
djangorestframework-filters

# Database
mssql-django==1.4
pyodbc

# Data Processing
polars==1.29.0
pandas==1.5.3
pyarrow == 20.0.0

# Authentication
PyJWT

# HTTP & Networking
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
requests==2.31.0
urllib3==2.2.0

python-dotenv==1.0.1

# Documentation
mkdocs==1.5.3
mkdocs-material==9.5.12
mkdocstrings==0.24.0
mkdocstrings-python==1.7.5

# Task Queue
celery==5.2.7